<!DOCTYPE html>

<html>

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1">

<title>

{% block title %}

Admin

{% endblock %}

</title>

<link rel="stylesheet"
href="{{ url_for('static',filename='css/style.css') }}">

</head>

<body>

<nav class="admin-navbar">

<div class="admin-logo">

🛠 WatchWise Admin

</div>

<ul>

<li>

<a href="/admin/dashboard">

Dashboard

</a>

</li>

<li>

<a href="/admin/movies">

Movies

</a>

</li>

<li>

<a href="/admin/series">

TV Series
<li>

<a href="/admin/system">

🛠 System

</a>

</li>

</a>

</li>

<li>

<a href="/admin/logout">

Logout

</a>

</li>

</ul>

</nav>

<div class="admin-content">

{% with messages=get_flashed_messages(with_categories=true) %}

{% if messages %}

{% for category,message in messages %}

<div class="flash {{category}}">

{{message}}

</div>

{% endfor %}

{% endif %}

{% endwith %}

{% block content %}

{% endblock %}

</div>

</body>

</html>