{% extends "admin/base.html" %}

{% block title %}

Dashboard

{% endblock %}

{% block content %}

<div class="admin-container">

<h1>

🛠 WatchWise AI Admin Dashboard

</h1>

<div class="admin-cards">

<a href="/admin/movies"
class="dashboard-card">

<h2>

🎬 Movies

</h2>

<p>

Manage Movie Dataset

</p>

</a>

<a href="/admin/series"
class="dashboard-card">

<h2>

📺 TV Series

</h2>

<p>

Manage TV Series Dataset

</p>

</a>

<a href="#"
class="dashboard-card">

<h2>

👥 Users

</h2>

<p>

Coming Soon

</p>

</a>

<a href="#"
class="dashboard-card">

<h2>

📈 Analytics

</h2>

<p>

Coming Soon

</p>

</a>

</div>

</div>

{% endblock %}