{% extends "admin/base.html" %}

{% block title %}

System Maintenance

{% endblock %}

{% block content %}

<div class="admin-container">

<div class="form-card">

<h1>

🛠 System Maintenance

</h1>

<hr>

<h2>

Movie Dataset

</h2>

<a

href="/admin/system/reload-movies"

class="admin-btn">

Reload Movies

</a>

<hr>

<h2>

AI Recommendation Engine

</h2>

<a

href="/admin/system/build-embeddings"

class="admin-btn">

Build Embeddings

</a>

<br><br>

<a

href="/admin/system/build-faiss"

class="admin-btn">

Build FAISS

</a>

<br><br>

<a

href="/admin/system/rebuild-all"

class="admin-btn">

Rebuild Everything

</a>

</div>

</div>

{% endblock %}