<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MovieHub AI{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<nav class="navbar">

    <div class="logo">
        🎬 MovieHub AI
    </div>

    <ul class="nav-links">

    <li><a href="/">Home</a></li>
    <li><a href="/search">Search</a></li>

    {% if user %}

        <li><a href="/watchlist">⭐ Watchlist</a></li>
        <li><a href="/logout">Logout</a></li>

    {% else %}

        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>

    {% endif %}

</ul>
</nav>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

        {% for category, message in messages %}

            <div class="flash {{ category }}">
                {{ message }}
            </div>

        {% endfor %}

    {% endif %}
{% endwith %}

{% block content %}
{% endblock %}

</body>
</html>