<!DOCTYPE html>
<html>
<head>
    <title>MovieHub AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav>
    <div class="logo">🎬 MovieHub AI</div>

    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Movies</a></li>
        <li><a href="#">Reviews</a></li>
        <li><a href="#">Login</a></li>
    </ul>
</nav>

<section class="hero">
    <h1>Discover Your Next Favorite Movie</h1>
    <p>AI Powered Movie Recommendation Platform</p>

    <button>Explore Movies</button>
</section>

</body>
</html>