{% extends "base.html" %}

{% block title %}
Search Movies
{% endblock %}

{% block content %}

<section class="hero">

    <h1>Search Movies</h1>

    <form action="/search" method="GET" class="search-box">

        <input
            type="text"
            name="movie"
            placeholder="Enter Movie Name"
            required>

        <button type="submit">
            Search
        </button>

    </form>
    <form action="/add_watchlist" method="POST">

    <input type="hidden"
           name="title"
           value="{{ movie.Title }}">

    <input type="hidden"
           name="poster"
           value="{{ movie.Poster }}">

    <input type="hidden"
           name="imdb_id"
           value="{{ movie.imdbID }}">

    <button class="watch-btn">
        ⭐ Add To Watchlist
    </button>

</form>

</section>

{% if movie and movie.Response == "True" %}

<section class="movies-section">

    <div class="movie-card" style="max-width:700px;margin:auto;">

        <img src="{{ movie.Poster }}"
             alt="{{ movie.Title }}">

        <h2>{{ movie.Title }}</h2>

        <p>⭐ IMDb Rating: {{ movie.imdbRating }}</p>

        <p>📅 Year: {{ movie.Year }}</p>

        <p>🎭 Genre: {{ movie.Genre }}</p>

        <p>🎬 Director: {{ movie.Director }}</p>

        <p><strong>Actors:</strong> {{ movie.Actors }}</p>

        <p>{{ movie.Plot }}</p>
        <form action="/add_watchlist" method="POST">

            <input type="hidden" name="title" value="{{ movie.Title }}">

            <input type="hidden" name="poster" value="{{ movie.Poster }}">

            <input type="hidden" name="imdb_id" value="{{ movie.imdbID }}">

            <button class="watch-btn" type="submit">
                ⭐ Add To Watchlist
            </button>

        </form>

    </div>

</section>

{% elif movie and movie.Response == "False" %}

<section class="movies-section">

    <div class="movie-card">

        <h2>Movie Not Found</h2>

        <p>Try another movie name.</p>

    </div>

</section>

{% endif %}

{% endblock %}